<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" maxRequestLength="1024"/>
    <sessionState mode="InProc" timeout="30" cookieless="UseCookies"/>
    <authentication mode="None"/>
    <customErrors mode="RemoteOnly"/>
    <globalization culture="es-CR" uiCulture="es-CR" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpCookies httpOnlyCookies="true" sameSite="Lax"/>
  </system.web>
  <system.webServer><defaultDocument><files><clear/><add value="Default.aspx"/></files></defaultDocument></system.webServer>
</configuration>
